extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css 
      include ../static/styleabout.css

block content
  div.container 
    h1 About Us 
    div.about-box
        p The Dance Academy, established since October 1988 aims to provide students with a professional dance curriculum exposing them to well structured training programmes in the various dance disciplines. Students are encouraged to develop their dance skills and performance qualities to the maximum.Students in classical ballet, girls and boys, can enroll as of the age of three years. The school follows the Royal Academy of Dance London Syllabus.At the tender age of three, classes are structured with a 'recreational' focus. Here the importance of 'fun' and 'imagination' are the essential elements of the class. From the age of six, students begin to follow the well structured graded syllabus of the Royal Academy of Dance. Throughout the graded syllabus students are introduced to 'Free Movement' and 'Character.'Students progress gradually into the vocational grades. These grades are for students who aspire to peruse a career in dance as a dancer, teacher, choreographer, or notator.The suggested age for commencing modern dance is six years. Students progress through the well devised grades and vocational grades of the Imperial Society of Teachers. As students progress through the different levels they acquire various skills. They learn correct posture and technique, and also appreciate varying musical styles and their interpretation, as well as foster a great sense of enjoyment and fun.The recommended age for commencing Spanish is eight years. Students are introduced to castanet playing, clear distinctive footwork, and graceful flowing arm movements in a carefully devised syllabus by the Spanish Society.Three year Teacher Training Courses are held in conjunction with the established dance Societies.