extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css 
      include ../static/stylescourse.css

block content
  div.container 
    h1 Courses at the MJ Dance Academy
    div.course-box 
        h2 Jazz Dance 
        div.course-img
            img(src="/static/img/jazz.jpg") 
        div.course-content
            p The MJ Dance Academy can proudly boast of entering students for both Graded and Vocational Graded dance examinations of the Imperial Society Of Teachers Of Dance. (I.S.T.D.) As students progress through the different levels, they acquire various skills. They learn correct posture and technique, and also appreciate varying musical styles and their interpretation. Students develop spatial awareness and self-expression, as well as a sense of performance. International qualifications of the I.S.T.D. ensure that high standards are achieved and maintained, through a healthy and safe environment. Qualifications achieved through the Society are recognised worldwide.The Graded Syllabus includes Primary up to Grade Six. Jazz awards have three levels which all focus on performance and technique. The Vocational classes include Intermediate Foundation uptill Advanced Two. These levels are considered as professional examinations and each level requires two to three years of preparation.
        
    div.course-box 
        h2 Contemporary Dance
        div.course-img
            img(src="/static/img/contemp.jpg") 
        div.course-content
            p Classes for Contemporary Dance are held for student aged fourteen and over. A variety of Contemporary Dance techniques such as Graham, Limon and Alvin Ailey are studied. Contact improvisation is also tackled. Contemporary Dance is about concepts and experimentation, with a heavy focus on the choreographic rehearsing and performing processes. The philosophies behind each technique are different but also influence each other and can be seen by the overlapping nature of Graham and Cunningham techniques, the most broadly known and taught in Contemporary Dance. It is very versatile as it can be performed to any kind of music and can be combined with other dance forms to create new and innovative works.
        
    div.course-box 
        h2 Spanish Dance
        div.course-img
            img(src="/static/img/spanis.jpg") 
        div.course-content
            p MJ Dance Academy introduced Spanish Dancing five years ago and is gradually increasing in popularity. The syllabus is offered in a structured way to ensure that the art of Spanish Dancing is taught well, perusing excellence in presentation, execution and instruction. The technique is broken down into castanet playing, steps, footwork, arm movements and various different types of turns, which are taught progressively in a series of seven graded junior levels and three senior levels, each examination culminating in the presentation of two or three dances of regional, classical or flamenco styles. The syllabus is graded into Junior and Senior syllabus. The Junior syllabus has seven levels, each level has a study period of two years. The Senior syllabus has six levels, each level has a study period of two years.
        
    div.course-box 
        h2 Pilates/Yoga/Fitness
        div.course-img
            img(src="/static/img/yoga.jpg") 
        div.course-content
            p Freestyle Yoga/Pilates targets flexibility, core stability and strength. It is a fitness programme that incorporates deep stretch, Yoga postures and Pilates exercise. It is not a spiritual experience. The benefits that one gains from different exercise classes are as follows: stamina, fat loss, regulation of blood pressure, toning and sculpting of muscles, release of tension and depression, our body becomes more sensitive to use of fat as fuel, prevention of Osteoporosis/breast cancer, lowering of cholesterol, better posture, increase of natural body pain killers, increase of metabolism, increase of bone density and strength, improves balance and co-ordination. Hi/Lo Impact Class, are directed towards improving stamina, co-ordination and bone health, however, still concentrating on muscular strength and endurance. The class ends with a good stretch. Body conditioning classes concentrate on muscular power strength and stability using free weights. Circuit Classes consist of a totally different format - a boost cross training different muscles.