doctype html
html
  head
    title MJ Dance Academy
    style
      include ../static/style.css
  body
    
    
     footer#footer 
        | Copyright Ⓒ 2023 MJdance.com | All rights reserved
     script
      include ../static/index.js